ul {
  list-style-type: none;
  display: flex;
}
.header {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #ff8080;
}
.menu-bar {
  height: 30px;
}
li {
  font-size: 25px;
  margin-right: 50px;
  font-weight: 600;
}
.menu-container {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
body {
  margin: 0%;
  font-family: "Roboto";
}
.container {
  background: rgb(247, 246, 180);
  background: linear-gradient(
    90deg,
    rgba(247, 246, 180, 1) 38%,
    rgba(184, 74, 252, 1) 99%
  );
  height: 100vh;
}
.page1 {
  display: flex;
}
.content1 {
  width: 50vw;
  padding: 75px;
}
.image1 {
  height: 100vh;
  width: 50vw;
}
.heading {
  font-size: 50px;
  margin-bottom: 50px;
}
.para {
  font-size: 20px;
  margin-bottom: 50px;
  width: 500px;
}
button {
  background-color: #ff8080;
  border: 0;
  height: 50px;
  width: 200px;
  margin-top: 25px;
  color: aliceblue;
}
.button-text {
  font-size: 15px;
}
